<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwinfo.mapper.AlarmMapper">

    <select id="getPage" resultType="com.wwinfo.pojo.res.AlarmRes">
        select
           a.*,
           ast.assetNo,
           ast.name as "assetName"
        from alarm a
        left join asset ast on a.sourceID = ast.ID
        where 1 = 1
        <if test="query.assetNo != null and query.assetNo != ''">
            AND ast.assetNo = #{query.assetNo}
        </if>
        <if test="query.alarmType != null">
            AND a.alarmType = #{query.alarmType}
        </if>
        <if test="query.alarmEmail != null">
            AND a.alarmEmail = #{query.alarmEmail}
        </if>
        <if test="query.isSend != null">
            AND a.isSend = #{query.isSend}
        </if>

        <if test="query.startTime != null and query.startTime != ''">
            <![CDATA[ AND DATE_FORMAT(a.timeAdd, '%Y-%m-%d') >= #{query.startTime,jdbcType=VARCHAR} ]]>
        </if>
        <if test="query.endTime != null and query.endTime != ''">
            <![CDATA[ AND DATE_FORMAT(a.timeAdd, '%Y-%m-%d') <= #{query.endTime,jdbcType=VARCHAR} ]]>
        </if>
        order by a.timeAdd desc
    </select>
</mapper>
