<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwinfo.mapper.AssetrecordMapper">

    <sql id="baseSql">
       asr.ID,
       asr.assetID,
       asr.posID,
       asr.directory,
       asr.timeAdd,
       asr.preStatus,
       asr.timePreStatus,
       asr.statusTimes,
       asr.statusMatched,
       asr.isAlarm,
       asr.alarmType
    </sql>

    <select id="page" parameterType="com.wwinfo.pojo.query.AssetrecordQuery" resultType="com.wwinfo.pojo.res.AssetrecordRes">
        select
            <include refid="baseSql" />,
            ast.name AS "assetName",
            ast.assetNo,
            enp.posName,
            T.orgName
        FROM
        (
        SELECT
        au.orgID,au.orgName
        FROM
        (
        SELECT
        *
        FROM
        organize
        WHERE
        upOrgID IS NOT NULL
        ) au,
        (SELECT @pid := #{query.orgID}) pd
        WHERE
        FIND_IN_SET(upOrgID, @pid) > 0
        AND @pid := concat(@pid, ',', orgID)
        UNION
        SELECT
        orgID, orgName
        FROM
        organize
        WHERE
        orgID = #{query.orgID}
        ) T
        JOIN asset ast ON T.orgID = ast.orgID
        join assetRecord asr on asr.assetID = ast.ID
        LEFT JOIN entryPos enp ON asr.posID = enp.ID
        where 1 = 1
            <if test="query.directory != null">
                AND asr.directory = #{query.directory}
            </if>
            <if test="query.preStatus != null">
                AND asr.preStatus = #{query.preStatus}
            </if>
            <if test="query.statusMatched != null">
                AND asr.statusMatched = #{query.statusMatched}
            </if>
            <if test="query.isAlarm != null">
                AND asr.isAlarm = #{query.isAlarm}
            </if>
            <if test="query.alarmType != null">
                AND asr.alarmType = #{query.alarmType}
            </if>
            <if test="query.assetID != null">
                AND ast.ID = #{query.assetID}
            </if>
            <if test="query.assetNo != null and query.assetNo !=''">
                AND ast.assetNo = #{query.assetNo}
            </if>
            <if test="query.assetName != null and query.assetName != ''">
                AND ast.name like CONCAT('%', #{query.assetName}, '%')
            </if>
            <if test="query.staff != null and query.staff != ''">
                AND ast.staff like CONCAT('%', #{query.staff}, '%')
            </if>
           order by asr.timeAdd desc
    </select>

    <select id="getByAssetIDAndSortType" resultType="com.wwinfo.pojo.res.AssetrecordRes">
        select
            <include refid="baseSql" />
        from assetRecord asr
        LEFT JOIN asset ast ON asr.assetID = ast.ID
        LEFT JOIN entryPos enp ON asr.posID = enp.ID
        <where>
            <if test="assetID != null">
                AND asr.assetID = #{assetID}
            </if>
            <choose>
                <when test="sortType == 0">
                    order by timeAdd DESC
                </when>
                <otherwise>
                    order by timeAdd ASC
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="getByMap" parameterType="map" resultType="com.wwinfo.model.Assetrecord">
        select
            <include refid="baseSql" />
        from assetRecord asr
        <where>
            <if test="map.assetID != null">
                AND asr.assetID = #{map.assetID}
            </if>
            <if test="map.directory != null">
                AND asr.directory = #{map.directory}
            </if>
        </where>
    </select>


</mapper>
