<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwinfo.mapper.AssetoutregMapper">

    <sql id = "baseSql">
        asout.ID,
        asout.assetID,
        asout.regTime,
        asout.outType,
        asout.lendStart,
        asout.lendEnd,
        asout.address,
        asout.usages,
        asout.borrowMan,
        asout.borrowOrg,
        asout.estimateTime,
        asout.remark,
        asout.outTime,
        asout.inTime,
        asout.status,
        asout.returnTime
    </sql>

    <select id="page" parameterType="com.wwinfo.pojo.query.AssetoutregQuery" resultType="com.baomidou.mybatisplus.core.metadata.IPage">
        SELECT
           <include refid="baseSql" />,
           ast.name AS "assetName"
        FROM assetOutReg asout
        JOIN asset ast ON asout.assetID = ast.ID
        <where>
            <if test="assetoutregQuery.outType != null">
                AND asout.outType = #{assetoutregQuery.outType}
            </if>
            <if test="assetoutregQuery.status != null">
                AND asout.status = #{assetoutregQuery.status}
            </if>
            <if test="assetoutregQuery.orgID != null">
                AND ast.orgID = #{assetoutregQuery.orgID}
            </if>
        </where>
    </select>

    <select id="getByAssetID" resultType="com.wwinfo.model.Assetoutreg" parameterType="java.lang.Long">
        SELECT <include refid="baseSql" /> FROM assetOutReg asout WHERE asout.assetID = #{assetID}
    </select>

</mapper>