<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwinfo.mapper.AssetMapper">
    <resultMap id="apiMap" type="com.wwinfo.pojo.res.AssetApiRes">
        <result property="ID" column="ID" />
        <result property="orgID" column="orgID" />
        <result property="name" column="name" />
        <result property="assetNo" column="assetNo" />
        <result property="brand" column="brand" />
        <result property="model" column="model" />
        <result property="remark" column="remark" />
        <result property="orgName" column="orgName" />
        <collection property="rfids" column="ID" select="getRFIDIds" ofType="list" />
    </resultMap>

    <sql id="baseSql">
        ast.ID,
        ast.orgID,
        ast.name,
        ast.assetNo,
        ast.useOrg,
        ast.secLevel,
        ast.largeClass,
        ast.littleClass,
        ast.brand,
        ast.model,
        ast.serialNo,
        ast.description,
        ast.price,
        ast.setDate,
        ast.staff,
        ast.period,
        ast.remark,
        ast.roomID,
        ast.posAlarmType,
        ast.curStatus,
        ast.timeStatus,
        ast.isAbnormal,
        ast.reasonType,
        ast.lendStatus,
        ast.lendStart,
        ast.lendEnd,
        ast.timeAdd,
        ast.timeModify,
        ast.delStatus,
        ast.delTime,
        ast.delReason,
        ast.isBlack,
        ast.blackReason,
        ast.blackTime
    </sql>

    <select id="page" parameterType="com.wwinfo.pojo.query.AssetQuery" resultType="com.wwinfo.pojo.res.AssetRes">
        select
             ast.*,T.orgName, rm.roomName
        FROM
        (
        SELECT
        au.orgID,au.orgName
        FROM
        (
        SELECT
        *
        FROM
        organize
        WHERE
        upOrgID IS NOT NULL
        ) au,
        (SELECT @pid := #{assetQuery.canorgID}) pd
        WHERE
        FIND_IN_SET(upOrgID, @pid) > 0
        AND @pid := concat(@pid, ',', orgID)
        UNION
        SELECT
        orgID, orgName
        FROM
        organize
        WHERE
        orgID = #{assetQuery.canorgID}
        ) T
        JOIN asset ast ON T.orgID = ast.orgID
        left join room rm on ast.roomID = rm.ID
        where 1 = 1
            <if test="assetQuery.name != null and assetQuery.name != ''">
                AND ast.name LIKE CONCAT( #{assetQuery.name ,jdbcType=VARCHAR}, '%')
            </if>
            <if test="assetQuery.assetNo != null and assetQuery.assetNo != ''">
                AND ast.assetNo = #{assetQuery.assetNo}
            </if>
            <if test="assetQuery.curStatus != null">
                AND ast.curStatus = #{assetQuery.curStatus}
            </if>
            <if test="assetQuery.isAbnormal != null">
                AND ast.isAbnormal = #{assetQuery.isAbnormal}
            </if>
            <if test="assetQuery.lendStatus != null">
                AND ast.lendStatus = #{assetQuery.lendStatus}
            </if>
            <if test="assetQuery.delStatus != null">
                AND ast.delStatus = #{assetQuery.delStatus}
            </if>
            <if test="assetQuery.isBlack != null">
                AND ast.isBlack = #{assetQuery.isBlack}
            </if>
            <if test="assetQuery.orgID != null">
                AND ast.orgID = #{assetQuery.orgID}
            </if>
            <if test="assetQuery.startDate != null and assetQuery.startDate != ''">
                <![CDATA[ AND DATE_FORMAT(ast.timeAdd, '%Y-%m-%d') >= #{assetQuery.startDate,jdbcType=VARCHAR} ]]>
            </if>
            <if test="assetQuery.endDate != null and assetQuery.endDate != ''">
                <![CDATA[ AND DATE_FORMAT(ast.timeAdd, '%Y-%m-%d') <= #{assetQuery.endDate,jdbcType=VARCHAR} ]]>
            </if>
        order by ast.timeAdd desc
    </select>


    <select id="getAssetListByOrgs" parameterType="list" resultType="com.wwinfo.pojo.res.AssetApiRes">
        SELECT
           ast.ID,
           ast.orgID,
           ast.name,
           ast.assetNo,
           ast.brand,
           ast.model,
           ast.remark,
           org.orgName
        FROM asset ast
        LEFT JOIN organize org ON ast.orgID = org.orgID
        WHERE ast.orgID IN
        <foreach item="item" index="index" collection="orgs" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getRFIDIds" resultType="java.lang.String">
       SELECT rfid_real_no FROM rfid_asset WHERE assetID = #{ID}
    </select>

    <select id="getExportListByParam" resultType="com.wwinfo.pojo.bo.AssetStatusExcel" parameterType="map">
      <!--  SELECT
            <include refid="baseSql" />,
            org.orgName
        FROM asset ast
        LEFT JOIN organize org ON ast.orgID = org.orgID
        <where>
            <if test="map.name != null and map.name != ''">
                AND ast.name LIKE CONCAT( #{assetQuery.name ,jdbcType=VARCHAR}, '%')
            </if>
            <if test="map.assetNo != null and map.assetNo != ''">
                AND ast.assetNo = #{assetQuery.assetNo ,jdbcType=VARCHAR}
            </if>
            <if test="map.startDate != null and map.startDate != ''">
                <![CDATA[ AND DATE(ast.timeAdd) >= #{map.startDate} ]]>
            </if>
            <if test="map.endDate != null and map.endDate != ''">
                <![CDATA[ AND DATE(ast.timeAdd) <= #{map.endDate} ]]>
            </if>
        </where>
        order by ast.timeAdd desc-->


        select
            ast.*,T.orgName, rm.roomName
        FROM
        (
        SELECT
        au.orgID,au.orgName
        FROM
        (
        SELECT
        *
        FROM
        organize
        WHERE
        upOrgID IS NOT NULL
        ) au,
        (SELECT @pid := #{map.canorgID}) pd
        WHERE
        FIND_IN_SET(upOrgID, @pid) > 0
        AND @pid := concat(@pid, ',', orgID)
        UNION
        SELECT
        orgID, orgName
        FROM
        organize
        WHERE
        orgID = #{map.canorgID}
        ) T
        JOIN asset ast ON T.orgID = ast.orgID
        left join room rm on ast.roomID = rm.ID
        where 1 = 1
        <if test="map.name != null and map.name != ''">
            AND ast.name LIKE CONCAT( #{map.name ,jdbcType=VARCHAR}, '%')
        </if>
        <if test="map.assetNo != null and map.assetNo != ''">
            AND ast.assetNo = #{map.assetNo}
        </if>
        <if test="map.curStatus != null">
            AND ast.curStatus = #{map.curStatus}
        </if>
        <if test="map.isAbnormal != null">
            AND ast.isAbnormal = #{map.isAbnormal}
        </if>
        <if test="map.lendStatus != null">
            AND ast.lendStatus = #{map.lendStatus}
        </if>
        <if test="map.delStatus != null">
            AND ast.delStatus = #{map.delStatus}
        </if>
        <if test="map.isBlack != null">
            AND ast.isBlack = #{map.isBlack}
        </if>
        <if test="map.orgID != null">
            AND ast.orgID = #{map.orgID}
        </if>
        <if test="map.startDate != null and map.startDate != ''">
            <![CDATA[ AND DATE_FORMAT(ast.timeAdd, '%Y-%m-%d') >= #{map.startDate,jdbcType=VARCHAR} ]]>
        </if>
        <if test="map.endDate != null and map.endDate != ''">
            <![CDATA[ AND DATE_FORMAT(ast.timeAdd, '%Y-%m-%d') <= #{map.endDate,jdbcType=VARCHAR} ]]>
        </if>
        order by ast.timeAdd desc
    </select>

    <select id="checkRepeat" parameterType="list" resultType="com.wwinfo.model.Asset">
        select
           ID
        from asset
        WHERE
        <foreach collection="assetList" item="item" open="(" close=")" separator="or">
            (
            name = #{item.name,jdbcType=VARCHAR}
            OR assetNo = #{item.assetNo,jdbcType=VARCHAR}
            )
        </foreach>

    </select>

    <select id="getAssetListByIDs" resultType="com.wwinfo.pojo.res.AssetRes" parameterType="long">
        SELECT
            <include refid="baseSql" />,
            task.ID AS "taskID",
            task.status AS "taskStatus"
        FROM asset ast
        LEFT JOIN organize org ON ast.orgID = org.orgID
        LEFT JOIN invetoryTask task ON org.orgID = task.orgID
        WHERE ast.ID IN
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getAllRFIDRecord" resultType="java.util.HashMap">
        SELECT
           <include refid="baseSql" />,
           rfr.ID AS "rfidRecordID",
           rfr.rfidNo AS "rfidNo",
           rfr.readerID AS "readerID",
           rfr.timeAdd AS "rfrtimeAdd"
        FROM asset ast
        JOIN rfid_asset ra ON ast.ID = ra.assetID
        JOIN rfidRecord rfr ON ra.rfid_real_no = rfr.rfidNo
        ORDER BY rfr.timeAdd DESC
    </select>

    <select id="getAssetByMap" resultType="com.wwinfo.model.Asset" parameterType="map">
        SELECT
            <include refid="baseSql" />
        FROM asset ast
        <where>
            <if test="map.isAbnormal != null">
                ast.isAbnormal = #{map.isAbnormal}
            </if>
            <if test="map.curStatus != null">
                AND ast.curStatus = #{map.curStatus}
            </if>
            <if test="map.endDate != null">
                <![CDATA[ AND DATE(ast.timeStatus) <= #{map.endDate,jdbcType=VARCHAR} ]]>
            </if>
        </where>

    </select>
    <select id="listAll" resultType="com.wwinfo.pojo.res.AssetRes"
            parameterType="com.wwinfo.pojo.query.AssetQuery">
        SELECT
            <include refid="baseSql" />,
            org.orgName
        FROM asset ast
        LEFT JOIN organize org ON ast.orgID = org.orgID
        <where>
            <if test="assetQuery.name != null and assetQuery.name != ''">
                AND ast.name LIKE CONCAT( #{assetQuery.name ,jdbcType=VARCHAR}, '%')
            </if>
            <if test="assetQuery.assetNo != null and assetQuery.assetNo != ''">
                AND ast.assetNo = #{assetQuery.assetNo}
            </if>
            <if test="assetQuery.curStatus != null">
                AND ast.curStatus = #{assetQuery.curStatus}
            </if>
            <if test="assetQuery.isAbnormal != null">
                AND ast.isAbnormal = #{assetQuery.isAbnormal}
            </if>
            <if test="assetQuery.lendStatus != null">
                AND ast.lendStatus = #{assetQuery.lendStatus}
            </if>
            <if test="assetQuery.delStatus != null">
                AND ast.delStatus = #{assetQuery.delStatus}
            </if>
            <if test="assetQuery.isBlack != null">
                AND ast.isBlack = #{assetQuery.isBlack}
            </if>
            <if test="assetQuery.isBand != null">
                AND ast.is_band = #{assetQuery.isBand}
            </if>
            <if test="assetQuery.orgID != null">
                AND ast.orgID = #{assetQuery.orgID}
            </if>
        </where>
        order by ast.timeAdd desc
    </select>

    <select id="pageByParam" resultType="com.wwinfo.pojo.res.AssetRes">
        SELECT
            ast.*
        FROM
            (
                SELECT
                    au.orgID
                FROM
                    (
                        SELECT
                            *
                        FROM
                            organize
                        WHERE
                            upOrgID IS NOT NULL
                    ) au,
                    (SELECT @pid := #{assetQuery.orgID}) pd
                WHERE
                    FIND_IN_SET(upOrgID, @pid) > 0
                  AND @pid := concat(@pid, ',', orgID)
                UNION
                SELECT
                    orgID
                FROM
                    organize
                WHERE
                    orgID = #{assetQuery.orgID}
            ) T
            JOIN asset ast ON T.orgID = ast.orgID
        where 1 = 1
            <if test="assetQuery.name != null and assetQuery.name != ''">
                AND ast.name LIKE CONCAT( #{assetQuery.name ,jdbcType=VARCHAR}, '%')
            </if>
            <if test="assetQuery.assetNo != null and assetQuery.assetNo != ''">
                AND ast.assetNo = #{assetQuery.assetNo}
            </if>

            <if test="assetQuery.isBand != null">
                AND ast.is_band = #{assetQuery.isBand}
            </if>
            <if test="assetQuery.orgID != null">
                AND ast.orgID = #{assetQuery.orgID}
            </if>
        order by ast.timeAdd desc
    </select>

    <select id="checkAssetNoRepeat" resultType="com.wwinfo.model.Asset" parameterType="list">
        select
            ID, assetNo
        from asset
        WHERE assetNo in
        <foreach collection="assetList" item="item" open="(" close=")" separator=",">
            (
            assetNo = #{item.assetNo,jdbcType=VARCHAR}
            )
        </foreach>
    </select>

    <select id="bindPage" resultType="com.wwinfo.pojo.res.AssetRes">
        select
            ast.*,T.orgName, GROUP_CONCAT(ra.rfid_print_no) rfid_print_no
        FROM
        (
        SELECT
        au.orgID,au.orgName
        FROM
        (
        SELECT
        *
        FROM
        organize
        WHERE
        upOrgID IS NOT NULL
        ) au,
        (SELECT @pid := #{assetQuery.canorgID}) pd
        WHERE
        FIND_IN_SET(upOrgID, @pid) > 0
        AND @pid := concat(@pid, ',', orgID)
        UNION
        SELECT
        orgID, orgName
        FROM
        organize
        WHERE
        orgID = #{assetQuery.canorgID}
        ) T
        JOIN asset ast ON T.orgID = ast.orgID
        left join rfid_asset ra on ast.ID = ra.assetID
        where 1 = 1
        <if test="assetQuery.name != null and assetQuery.name != ''">
            AND ast.name LIKE CONCAT( #{assetQuery.name ,jdbcType=VARCHAR}, '%')
        </if>
        <if test="assetQuery.assetNo != null and assetQuery.assetNo != ''">
            AND ast.assetNo = #{assetQuery.assetNo}
        </if>
        <if test="assetQuery.isBand != null">
            AND ast.is_band = #{assetQuery.isBand}
        </if>
        <if test="assetQuery.orgID != null">
            AND ast.orgID = #{assetQuery.orgID}
        </if>
        <if test="assetQuery.startDate != null and assetQuery.startDate != ''">
            <![CDATA[ AND DATE_FORMAT(ast.timeAdd, '%Y-%m-%d') >= #{assetQuery.startDate,jdbcType=VARCHAR} ]]>
        </if>
        <if test="assetQuery.endDate != null and assetQuery.endDate != ''">
            <![CDATA[ AND DATE_FORMAT(ast.timeAdd, '%Y-%m-%d') <= #{assetQuery.endDate,jdbcType=VARCHAR} ]]>
        </if>
        <if test="assetQuery.rfidPrintNo != null and assetQuery.rfidPrintNo != ''">
            AND ra.rfid_print_no = #{assetQuery.rfidPrintNo}
        </if>
        <if test="assetQuery.staff != null and assetQuery.staff != ''">
            AND ast.staff LIKE CONCAT( #{assetQuery.staff ,jdbcType=VARCHAR}, '%')
        </if>
        GROUP BY ast.ID order by ra.create_time desc
    </select>

    <select id="getListByOrg" resultType="com.wwinfo.model.Asset" parameterType="java.lang.Long">
        select
            ast.*,T.orgName
        FROM
            (
                SELECT
                    au.orgID,au.orgName
                FROM
                    (
                        SELECT
                            *
                        FROM
                            organize
                        WHERE
                            upOrgID IS NOT NULL
                    ) au,
                    (SELECT @pid := #{parentOrgID}) pd
                WHERE
                    FIND_IN_SET(upOrgID, @pid) > 0
                  AND @pid := concat(@pid, ',', orgID)
                UNION
                SELECT
                    orgID, orgName
                FROM
                    organize
                WHERE
                    orgID = #{parentOrgID}
            ) T
            JOIN asset ast ON T.orgID = ast.orgID
    </select>

    <update id="updateBatchByParam">
        UPDATE asset
        <set>
            <if test="map.roomID!= null">
                roomID = #{map.roomID},
            </if>
            <if test="map.delStatus!= null">
                delStatus = #{map.delStatus},
            </if>
            <if test="map.delReason!= null and map.delReason != ''">
                delReason = #{map.delReason},
            </if>
            <if test="map.isBlack!= null  ">
                isBlack = #{map.isBlack},
            </if>
            <if test="map.blackReason!= null and map.blackReason != ''">
                blackReason = #{map.blackReason},
            </if>
            <if test="map.blackTime!= null  ">
                blackTime = #{map.blackTime},
            </if>
            <if test="map.delTime!= null  ">
                delTime = #{map.delTime},
            </if>
        </set>
        WHERE ID IN
        <foreach collection="idList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateBatchMap" parameterType="list">
        update asset
        set roomID =
        <foreach collection="list" item="item" index="index"
                 separator=" " open="case" close="end">
            when ID = #{item.assetID} then #{item.roomID}
        </foreach>
        where assetID IN
        <foreach collection="list" index="index" item="item"
                 separator="," open="(" close=")">
            #{item.assetID,jdbcType=BIGINT}
        </foreach>
    </update>

    <update id="updateByParam" parameterType="map">
        update asset
        <set>
            <if test="map.isAbnormal != null">
                isAbnormal = #{map.isAbnormal},
            </if>
            <if test="map.reasonType!= null">
                reasonType = #{map.reasonType},
            </if>
            <if test="map.isBand!= null">
                is_band = #{map.isBand},
            </if>
        </set>
        where ID = #{map.assetID}
    </update>

    <update id="updateStatusBatchIds">
        update asset set curStatus = #{curStatus} where
        ID in
        <foreach collection="assetIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <insert id="addBatch" parameterType="list">
        INSERT INTO asset(
            orgID,
            name,
            assetNo,
            useOrg,
            secLevel,
            largeClass,
            littleClass,
            brand,
            model,
            serialNo,
            description,
            price,
            setDate,
            staff,
            period,
            remark,
            roomID,
            posAlarmType,
            curStatus,
            timeStatus
        ) VALUES
        <foreach collection ="assetList" item="item" index= "index" separator =",">
            (
            #{item.orgID, jdbcType=BIGINT},
            #{item.name, jdbcType=VARCHAR},
            #{item.assetNo,jdbcType=VARCHAR},
            #{item.useOrg,jdbcType=BIGINT},
            #{item.secLevel,jdbcType=VARCHAR},
            #{item.largeClass,jdbcType=VARCHAR},
            #{item.littleClass,jdbcType=VARCHAR},
            #{item.brand,jdbcType=VARCHAR},
            #{item.model,jdbcType=VARCHAR},
            #{item.serialNo,jdbcType=VARCHAR},
            #{item.description,jdbcType=VARCHAR},
            #{item.price},
            #{item.setDate},
            #{item.staff,jdbcType=VARCHAR},
            #{item.period,jdbcType=VARCHAR},
            #{item.remark,jdbcType=VARCHAR},
            #{item.roomID,jdbcType=BIGINT},
            #{item.posAlarmType,jdbcType=BIGINT},
            #{item.curStatus,jdbcType=BIGINT},
            #{item.timeStatus}
            )
        </foreach >
    </insert>

</mapper>
