<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwinfo.mapper.EntryposMapper">


    <sql id="baseSql">
        ep.ID,
        ep.posName,
        ep.startReaderID,
        ep.endReaderID,
        ep.roomID,
        ep.directory,
        ep.isAlarm,
        ep.remark,
        ep.timeAdd,
        ep.timeModify
    </sql>

    <update id="chgById" parameterType="com.wwinfo.model.Entrypos">
        update entryPos
        <set>
            <if test="entrypos.posName != null" >
                posName = #{entrypos.posName},
            </if>
            <if test="entrypos.startReaderID != null" >
                startReaderID = #{entrypos.startReaderID},
            </if>
            endReaderID = #{entrypos.endReaderID},
            <if test="entrypos.roomID != null" >
                roomID = #{entrypos.roomID},
            </if>
            <if test="entrypos.directory != null" >
                directory = #{entrypos.directory},
            </if>
            <if test="entrypos.isAlarm != null" >
                isAlarm = #{entrypos.isAlarm},
            </if>
            <if test="entrypos.timeModify != null" >
                timeModify = #{entrypos.timeModify},
            </if>
            remark = #{entrypos.remark},
        </set>
        where ID = #{entrypos.ID}
    </update>


    <select id="Page" parameterType="com.wwinfo.pojo.query.EntryposQuery" resultType="com.wwinfo.pojo.res.EntryposRes">
        SELECT
           <include refid="baseSql" />,
           rm.roomName,
           re1.readerName AS "startReaderName",
           re2.readerName AS "endReaderName"
        FROM entryPos ep
        LEFT JOIN room rm ON ep.roomID = rm.ID
        LEFT JOIN rfidReader re1 ON ep.startReaderID = re1.ID
        LEFT JOIN rfidReader re2 ON ep.endReaderID = re2.ID
        <where>
            <if test="entryposQuery.directory != null">
                AND ep.directory = #{entryposQuery.directory}
            </if>
        </where>
        order by ep.timeAdd desc
    </select>

    <select id="getByParam" resultType="java.util.HashMap" parameterType="map">
        SELECT
            <include refid="baseSql" />
        FROM entryPos ep
        where ep.startReaderID = #{map.startReaderID}
        <if test="map.endReaderID != null">
            AND ep.endReaderID = #{map.endReaderID}
        </if>
    </select>

    <select id="getList" resultType="com.wwinfo.pojo.res.EntryposRes"
            parameterType="com.wwinfo.pojo.query.EntryposQuery">
        SELECT
            <include refid="baseSql" />,
            rm.roomName,
            re1.readerName AS "startReaderName",
            re2.readerName AS "endReaderName"
        FROM entryPos ep
        LEFT JOIN room rm ON ep.roomID = rm.ID
        LEFT JOIN rfidReader re1 ON ep.startReaderID = re1.ID
        LEFT JOIN rfidReader re2 ON ep.endReaderID = re2.ID
        <where>
            <if test="entryposQuery.directory != null">
                AND ep.directory = #{entryposQuery.directory}
            </if>
        </where>
    </select>

</mapper>
