<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwinfo.mapper.InvetoryassetMapper">

    <select id="page" parameterType="com.wwinfo.pojo.query.InvetoryassetQuery" resultType="com.wwinfo.pojo.res.InvetoryassetRes">
       select
          ist.taskID,
          ist.assetID,
          ist.roomID as actualRoomID,
          ist.machineID,
          ist.checkTime,
          ist.checkResult,
          ist.shouldRoomID,
          ist.resultCheck,
          org.orgName,
          rm.roomName as actualRoomName,
          ast.assetNo,
          ast.staff,
          ast.name as assetName,
          ast.curStatus,
          rm2.roomName
       FROM invetoryTask task
       JOIN invetoryAsset ist ON task.ID = ist.taskID
       JOIN asset ast ON ist.assetID = ast.ID
       LEFT JOIN room rm ON ist.roomID = rm.ID
       LEFT JOIN room rm2 ON ast.roomID = rm2.ID
       LEFT JOIN organize org ON ast.orgID = org.orgID
       <where>
           <if test="invetoryassetQuery.orgID != null">
               AND task.userOrgID = #{invetoryassetQuery.orgID}
           </if>
           <if test="invetoryassetQuery.taskID != null">
               AND ist.taskID = #{invetoryassetQuery.taskID}
           </if>
          <!-- <if test="invetoryassetQuery.checkResult != null">
               AND ist.checkResult = #{invetoryassetQuery.checkResult}
           </if>-->
           <if test="invetoryassetQuery.resultCheck != null">
               AND ist.resultCheck = #{invetoryassetQuery.resultCheck}
           </if>
           <if test="invetoryassetQuery.type == 1">
               AND ist.checkResult IN (${invetoryassetQuery.checkResults})
           </if>
       </where>
    </select>

    <select id="getByTaskIdAndAssetIDs" resultType="java.util.Map" parameterType="list">
        SELECT
            taskID,
            assetID,
            roomID,
            shouldRoomID
        FROM invetoryAsset where taskID = #{taskID}
        AND assetID IN
        <foreach collection="assetIDList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getOverflowByTaskId" resultType="java.util.Map" parameterType="java.lang.Long">
        select
            ita.taskID,
            ita.assetID,
            ita.resultCheck,
            ita.roomID,
            ast.name AS "assetName",
            ast.assetNo,
            rm.roomName,
            org.orgName
        from invetoryAsset ita
        left join asset ast ON ita.assetID = ast.ID
        left join room rm ON ita.roomID = rm.ID
        left join organize org ON ast.orgID = org.orgID
        where ita.taskID = #{taskID} and ita.checkResult in (0, 1, 2)
    </select>

    <update id="updateByTaskID" parameterType="map">
        UPDATE invetoryAsset
        <set>
            <if test="map.resultCheck!= null">
                resultCheck = #{map.resultCheck},
            </if>
        </set>
        WHERE taskID = #{map.taskID}
    </update>

    <update id="updateBatch" parameterType="list">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update invetoryAsset
            set
            checkResult = #{item.checkResult},
            shouldRoomID = #{item.shouldRoomID}
            where taskID = #{item.taskID}
        </foreach>
    </update>

    <insert id="addBatch" parameterType="list">
        insert into invetoryAsset(
            taskID,                           assetID,                         roomID,                             machineID,
            checkResult,                      shouldRoomID,                    resultCheck
        ) VALUES
        <foreach collection ="invastList" item="item" index= "index" separator =",">
            (
            #{item.taskID,jdbcType=BIGINT},
            #{item.assetID, jdbcType=BIGINT},
            #{item.roomID, jdbcType=BIGINT},
            #{item.machineID, jdbcType=VARCHAR},
            #{item.checkResult, jdbcType=BIGINT},
            #{item.shouldRoomID, jdbcType=BIGINT},
            #{item.resultCheck, jdbcType=BIGINT}
            )
        </foreach >
    </insert>

</mapper>
