<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwinfo.mapper.InvetoryassetMapper">

    <select id="page" parameterType="com.wwinfo.pojo.query.InvetoryassetQuery" resultType="com.baomidou.mybatisplus.core.metadata.IPage">
       select
        ist.taskID,
              ist.assetID,
              ist.roomID,
              ist.machineID,
              ist.checkTime,
              ist.checkResult,
              ist.shouldRoomID,
              ist.resultCheck,
              org.orgName,
              rm.roomName
       FROM invetoryAsset ist
       LEFT JOIN asset ast ON ist.assetID = ast.ID
       LEFT JOIN room rm ON ist.roomID = rm.ID
       LEFT JOIN organize org ON ast.orgID = org.orgID
       <where>
           <if test="invetoryassetQuery.taskID != null">
               AND ist.taskID = #{invetoryassetQuery.taskID}
           </if>
           <if test="invetoryassetQuery.checkResult != null">
               AND ist.checkResult = #{invetoryassetQuery.checkResult}
           </if>
           <if test="invetoryassetQuery.resultCheck != null">
               AND ist.resultCheck = #{invetoryassetQuery.resultCheck}
           </if>
       </where>
    </select>

</mapper>