<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwinfo.mapper.RfidAssetMapper">

    <insert id="addBatch" parameterType="list">
      INSERT INTO RFID_ASSET(
          rfid_real_no,       rfid_print_no,            assetID
      ) VALUES
      <foreach collection ="list" item="item" index= "index" separator =",">
      (
          #{item.rfidRealNo,jdbcType=VARCHAR},
          #{item.rfidPrintNo,jdbcType=VARCHAR},
          #{item.assetID, jdbcType=BIGINT}
      )
      </foreach >
    </insert>

    <delete id="deleteByAssetId" parameterType="java.lang.Long">
        delete from rfid_asset WHERE assetID = #{assetID}
    </delete>

    <select id="getByAssetID" resultType="com.wwinfo.model.RfidAsset" parameterType="java.lang.Long">
        SELECT id, rfid_real_no, rfid_print_no, assetID FROM rfid_asset WHERE assetID = #{assetID}
    </select>

    <select id="getByBatchAssetId" resultType="com.wwinfo.model.RfidAsset" parameterType="list">
       select rfid_print_no from rfid_asset WHERE assetID IN
        <foreach collection="assetIDList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="updateBatchStatus">
        UPDATE rfid_asset
        <set>
            <if test="map.status!= null">
                status = #{map.status},
            </if>
        </set>
        WHERE assetID IN
        <foreach collection="idList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>

    </update>

</mapper>
