<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwinfo.mapper.RfidAssetMapper">

    <insert id="addBatch" parameterType="list">
      insert into rfid_asset(
          rfid_real_no,       assetID
      )
      <foreach collection ="mapList" item="item" index= "index" separator =",">
      (
          #{item.rfidRealNo,jdbcType=VARCHAR},
          #{item.assetID, jdbcType=BIGINT},
      )
      </foreach >
    </insert>

    <select id="getByAssetID" resultType="com.wwinfo.model.RfidAsset" parameterType="java.lang.Long">
        SELECT id, rfid_real_no, assetID FROM rfid_asset WHERE assetID = #{assetID}
    </select>

    <update id="updateBatchStatus">
        UPDATE rfid_asset
        <set>
            <if test="map.status!= null">
                delStatus = #{map.sStatus},
            </if>
        </set>
        WHERE id IN
        <foreach collection="idList" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>

    </update>

</mapper>