<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwinfo.mapper.RfidreaderMapper">

    <select id="getAllReader" resultType="java.util.HashMap">
        select
            ID,
            readerName,
            readerIP,
            address,
            brand,
            model,
            interfaceType,
            hasAlarm,
            setupDate,
            timeAdd,
            checkTime,
            lastStatus,
            isAlarm
        from rfidReader
    </select>

    <update id="updateBatchUsed">
       update rfidReader set is_used = #{isUsed} where
        ID in
        <foreach collection="idList" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

</mapper>
