<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwinfo.mapper.RfidAssetMapper">

    <insert id="addBatch" parameterType="list">
      insert into rfid_asset(
          rfid_real_no,       assetID
      )
      <foreach collection ="mapList" item="item" index= "index" separator =",">
      (
          #{item.rfidRealNo,jdbcType=VARCHAR},
          #{item.assetID, jdbcType=BIGINT},
      )
      </foreach >
    </insert>


</mapper>