<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwinfo.mapper.TConfigMapper">

    <select id="getConfigByMap" parameterType="map" resultType="com.wwinfo.model.TConfig">
        SELECT
            id,
            name,
            fieldName,
            value,
            remark,
            timeAdd
        FROM t_config
        <where>
            <if test="map.fieldName != null and map.fieldName!=''">
                AND fieldName = #{map.fieldName}
            </if>
        </where>
    </select>

    <select id="getConfigByfieldName" resultType="com.wwinfo.model.TConfig" parameterType="java.lang.String">
        SELECT
            id,
            name,
            fieldName,
            value,
            remark,
            timeAdd
        FROM t_config where fieldName = #{fieldName}
    </select>

</mapper>
