<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TUserMapper">



  <select id="getUserInfo" resultType="com.example.model.TUser">
      SELECT
         tu.*
      from t_user tu
      where tu.username = #{username,jdbcType=VARCHAR}
  </select>

  <update id="updateByPhone">
      update t_user
      <set>
          <if test="map.integral != null and map.integral !=''">
              integral = #{map.integral},
          </if>
          <if test="map.walletBalance != null and map.walletBalance !=''">
              wallet_balance = #{map.walletBalance},
          </if>
          <if test="map.csmIntegral != null and map.csmIntegral !=''">
              csm_integral = #{map.csmIntegral},
          </if>
          <if test="map.cumuIntegral != null and map.cumuIntegral !=''">
              cumu_integral = #{map.cumuIntegral},
          </if>
          <if test="map.ownSpec != null and map.ownSpec != ''">
              own_spec = #{map.ownSpec}
          </if>

      </set>
      where phone = #{map.phone}
  </update>
</mapper>