<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserOrderMapper">
    <resultMap id="BaseMap" type="com.example.model.UserOrder">
        <result property="id" column="id" />
        <result property="dinnerName" column="dinner_name" />
        <result property="dinnerDate" column="dinner_date" />
        <result property="dinnerNum" column="dinner_num" />
        <result property="dinnerArea" column="dinner_area" />
        <result property="dinnerAddress" column="dinner_address" />
        <result property="dinnerDemand" column="dinner_demand" />
        <result property="dinneDeatil" column="dinne_deatil" />
        <result property="adminId" column="admin_id" />
        <result property="status" column="status" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="username" column="username" />
    </resultMap>

    <sql id="userOrderSql">
        ud.id,
        ud.dinner_name,
        ud.dinner_date,
        ud.dinner_num,
        ud.dinner_area,
        ud.dinner_address,
        ud.dinner_demand,
        ud.dinne_deatil,
        ud.admin_id,
        ud.status,
        ud.create_time,
        ud.update_time
    </sql>

    <select id="listPage" resultMap="BaseMap">
        SELECT
            <include refid="userOrderSql" />,
            ta.username AS "username"
        FROM user_order ud
        LEFT JOIN t_admin ta ON ud.admin_id = ta.id
        WHERE 1 = 1
        <if test="userOrderParam.dinnerName !=null and userOrderParam.dinnerName !=''">
            AND ud.dinner_name = #{userOrderParam.dinnerName,jdbcType=VARCHAR}
        </if>
        <if test="userOrderParam.dinnerArea !=null and userOrderParam.dinnerArea !=''">
            AND ud.dinner_area = #{userOrderParam.dinnerArea,jdbcType=VARCHAR}
        </if>
        <if test="userOrderParam.username !=null and userOrderParam.username !=''">
            AND ta.username LIKE CONCAT('%',#{userOrderParam.username},'%')
        </if>
        <if test="userOrderParam.status !=null">
            AND ud.status = #{userOrderParam.status,jdbcType=INTEGER}
        </if>
        ORDER BY ud.create_time DESC
    </select>
</mapper>